.search{
    padding-top: 100px;
}
.image{
    padding-left: 30px;
    height: 30px;
}

.results{
    padding-top: 100px;

}
.image_p{
    padding-left: 100px;
    padding-bottom: 30px;
}

.username{
    font-family: 'Bebas Neue', cursive;
}

.login{
    font-family: 'Solway', serif;
}

.userInfo{
    text-align: center;
}

.repo{
    font-family: 'Solway', serif;

}