
    <div class="container">
    
    </div>

    <div class="container">
            <img class="images" src="assets/github.png">

    </div>


    <div class="container-fluid">
        <div class="search">
            <form action="" (ngSubmit)="findProfiles()">
            <input  type="text" class="form-control"  [(ngModel)]="username" name="username">
            <button type="submit" class="form-control">Search</button>
            </form>
        </div>
    </div>


    


    <div class="results container-fluid">


        

        <div class="row">
            <div class="col-sm-4">
                <div class="image_p" *ngIf="user.avatar_url">
                <img class= "aimage" src={{user.avatar_url}}>
            </div>

            </div>
            <div class="col-sm-4">
                <div class="userInfo">
                <h2 class="username" *ngIf="user.name">Github Name: {{user.name}}</h2>
                <h4 class="login" *ngIf="user.login">Github Login: {{user.login}}</h4>
                <h5 class="link" *ngIf="user.html_url"><a href="{{user.html_url}}">Github Repo</a></h5>
                
                </div>

            </div>
            <div class="col-sm-4">
                    
                
                <div class="repoDetails" *ngFor="let repo of repoDetails">
                        
                    <h3 class="repo">{{repo.name}}</h3>
                    

            </div>
    

          </div>
          </div>


    
    
</div>