<div class="container-fluid">
    <div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">GitHubSearch</a>
        </div>
        
        
        </div>
    </nav>


    <div class="search">
    <input  type="text" class="form-control" (keyup)="findProfiles()" [(ngModel)]="username" name="username">
    </div>


    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-4">
                <img class= "image" src={{user.avatar_url}}>

            </div>
            <div class="col-sm-4">
                <p>{{user.name}}</p>
                <p>{{user.login}}</p>

            </div>
            <div class="col-sm-4">

            </div>
    

          </div>


    
    </div>
</div>